.main{
  border-style: solid;
  color:cornflowerblue;
  padding: 1em 1.875em 3.125em 1.875em;
}

head{
  color:cornflowerblue;
}
h1{
  color:cornflowerblue;
}

.main,
.container > header{
  padding:0 1.875em 3.125em 1.875em;
}
.container > header{
  padding: 2.875em 1.875em 1.875em;
}
