.cbp-ntaccordion li {
  list-style:none
}

.cbp-ntaccordion .cbp-nttigger {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: lightgray;
}
h3, h4 {
  color: cornflowerblue;
}
h3 {
  color: cornflowerblue;
  font-size: 2.75em;
  border-bottom: 1px solid lightgray;
  text-indent:30px;
}
h4 {
  color: cornflowerblue;
  font-size: 30pt;
}
h5 {
  color: darkgray;
}
.js .cbp-ntcontent {
  display: none;
}
.cbp-ntopen > .cbp-ntcontent {
  display: block;
}
