ul {
  list-style:none
}

.cbp-ntaccordion .cbp-nttigger {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: darkgray;
}
h3, h4 {
  color: cornflowerblue;
}
h3 {
  color: cornflowerblue;
  font-size: 2.75em;
  border-bottom: 1px solid lightgray;
  text-indent:30px;
  /*list-style-image - to add the arrows?*/
  /*list-style-position*/
}
h4 {
  color: cornflowerblue;
  font-size: 30pt;
}
h5 {
  color: darkgray;
}
.js .cbp-ntcontent {
  display: none;
}
.cbp-ntopen > .cbp-ntcontent {
  display: block;
}

.cbp-nttrigger::before{
  color:lightgrey;
  content:'\2794';
  padding-right: 0.5em;
}

.cbp-ntopen > .cbp-nttrigger::before{
  color:lightgrey;
  content: '\2794';

}

.cbp-nttrigger:hover{
  cursor: pointer;
}


.cbp-nttrigger:hover::before{
  color:cornflowerblue;
}

/*li:hover{
  cursor:pointer;
}*/
