

body{
	font-family: Arial, sans-serif;
	color:cornflowerblue;
	font-size: 80%;
}

.content section[id^="section-"] {
	display:none;
	padding-left:1em;
	padding-right:1em;
}

.content section[id^="section-"].content-current{
	display:block;
}

.content section[id^="section-"]::after {
	content: "";
	display: table;
	clear: both;
}

.mediabox{
	width:33%;
	float: left;
	padding-left:1em;
padding-right:1em;
	box-sizing: border-box;
}


.mediabox img{
	width: 100%;
}



/*horizontal tabs*/
nav ul li {
display:inline-block;
}

/*Centering the tabs in the ul*/
ul {
	border-bottom: .1em solid cornflowerblue;
	text-align: center;
}

/*border properties*/
li {
	border: .1em solid lightgrey ;
	line-height:2.75em;
	padding-right:2.5em;
	padding-left:2.5em;
	text-align: center;

}

/*links in tabs color change*/
a {
	font-size: 10pt;
	color: lightgrey;
	text-decoration: none;
}

.icons-shop{
	width: 1px;

}

li:hover {
	cursor:pointer;
}

img {
	max-width:100%;
	height:auto;
}
/*img{
	width:100%; 100 percent of the width of the containing element

}*/
