body {
    font-family: 'Droid Serif', serif;
}
.container {
    width: 90%;
    height: 90%;
}
nav ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid cornflowerblue;
    width: 10%;
    padding: 1em;
    text-align: center;
}
ul {
    margin-left: 20%;
    align-items: center;
}
.food::before {
    content: '\1f354';
}
.drinks::before {
    content: '\1f37b';
}
.order::before {
    content: '\1f4f1';
}
.shop::before {
    content: '\1f344';
}
.lab::before {
    content: '\1f355';
}